extends layout

block content
  .header
    h1= title
  //.navbar
    p 
  .row
    .side
      h2 ESP32 sensors
        h3#h3Sensor Temperature
          .containerTemp
            img(src='images/temp.png' alt='temperature' style='width: 100px; height: 100px; object-fit: contain;opacity: 0.18;')
            .centered= temperature + " °C"
        h3#h3Sensor Pressure
          .containerPres
            img(src='images/pressure.png' alt='pressure' style='width: 100px; height: 100px; object-fit: contain;opacity: 0.18;')
            .centered= pressure + " Pa"
    .main
      h2 ESP32 security
        h3 Movement
          p#moveIDpres= "Alarm was activated " + alarm + " times."         
        h3 Camera
        .container
          .card
            .card-header
            .card-block
              table.table
                thead
                  tr
                    th
                      | Name
                    th
                      | Size
                    th
                      | View
                    th
                      | Created
                tbody
              img#image
      h2 ESP32 log file 
      .menu
        .menu1
          label(for='log_level') Choose log level:  
          select#log_level
            option(value='0') None
            option(value='1') Error
            option(value='2') Warning
            option(value='3') Info
            option(value='4') Debug
            option(value='5') Verbose
          button.button.button2#btn2ID Change log level
        .menu2
          label(for='cap_level') Choose capacity level: 
          select#cap_level
            option(value='0') 128 bytes
            option(value='1') 256 bytes
            option(value='2') 512 bytes
            option(value='3') 1024 bytes
          button.button.button2#btn3ID Change capacity level
      button.button.button1#btn1ID Show log file
      .scrollbox        
        p#paraID
  .footer
    p Author: Jelena Marinkovic FTN Novi Sad Serbia
    p december 2023
