extends layout

block content
  .header
    h1= title
  .navbar
    p 
  .row
    .side
      h2 ESP32 sensors
        h3#h3Sensor Temperature
          .containerTemp
            img(src='images/temp.png' alt='temperature' style='width: 100px; height: 100px; object-fit: contain;opacity: 0.18;')
            .centered= temperature + " °C"
        h3#h3Sensor Pressure
          .containerPres
            img(src='images/pressure.png' alt='pressure' style='width: 100px; height: 100px; object-fit: contain;opacity: 0.18;')
            .centered= pressure + " Pa"
    .main
      h2 ESP32 security
        h3 Movement
          p#moveIDpres= "Alarm was activated " + alarm + " times."         
        h3 Camera
        .container
          .card
            .card-header
            .card-block
              table.table
                thead
                  tr
                    th
                      | Name
                    th
                      | Size
                    th
                      | View
                    th
                      | Created
                tbody
              img#image
      h2 ESP32 log file
      button.button.button1#btn1ID Show log file
      .scrollbox        
        p#paraID ...
      .menu
        label(for='log_level') Choose log level: 
        select#log_level
          option(value=' error ') Error
          option(value=' debug ') Debug
          option(value=' info ') Info
        button.button.button2#btn2ID Change log level
  .footer
    p Author: Jelena Marinkovic FTN Novi Sad Serbia
    p december 2023
